.category-image {
  height: 100px;
  width: 100px;
  filter: grayscale(100%);
}

.category-block {
  color: #919191;
}

.product-image {
  max-height: 200px;
}

.product-description {
  margin: 10 20;
}

.category-section {
  margin: 10Vh;
}

.category-section h1 {
  font-family: 'Farro';
  font-size: 4rem;
}

.colored-text {
  color: #005894
}

@media only screen and (max-width: 768px) {
  .category {
    font-size: 10vw !important;
  }
}