.App {
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
}

.custom-container{
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#topbar {
  min-height: 30px;
  background-color: #005894;
  display: flex;
  color: white;
  padding: 0 100px;
  align-items: center;
  justify-content: flex-end;
}

.topbar-block{
  height: 100%;
  padding: 0 5px;
  border-left: solid 1px white;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.topbar-icon{
  /* width: 100%; */
  height: auto;
  max-width: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.jumbotron {
  background-image: 
  linear-gradient(to top, rgba(0, 88, 148, 0), rgba(0, 88, 148, 0.5)),
  url("/jumbotron.jpg");
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 20%;
  width: 100vw;
  height: 700px;
  position: relative;
  top: -11rem;
    
  margin-bottom: -14rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron-block {
  z-index: -1;
  margin-right: 500px;
  background-color: rgba(255,255,250, 0.5);
  border-left: 20px solid #005894;
  padding-right: 20px;
}

.jumbotron-text{
  font-weight: 200;
  text-align: left;
  font-size: 2.5em;
}

@media only screen and (max-width: 768px) {
  .jumbotron-block {
    margin-right: 0px;
  }
}

.news-section {
  width: 100vw;
  min-height: 700px;
  background-image: 
  linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6)),
  url("/news-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: 0 25%; */

  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

@media only screen and (max-width: 768px) {
  .news-section {
    background-position: 10% 0%;
  }
}

.section-text {
  margin-right: 200px;
  max-width: 400px;
}

.icon-section {
  height: 500px;
  background-color: #f1fcff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icons-promote {
  height: 30px;
}

#footer {
  height: 200px;
  margin-top: 5rem;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  background-color: snow;
  display: flex;
  justify-content: space-evenly;
}

.footer-block{
  margin: 50px;
  text-align: left;
  width: 500px;
}
